@charset "UTF-8";

@font-face {
    font-family: Roboto;
    src: url("/static/fonts/Roboto-Regular.ttf")
}

@font-face {
    font-family: IstokWeb;
    src: url("/static/fonts/IstokWeb-Regular.ttf");
}

@font-face {
    font-family: IstokWeb-Bold;
    src: url("/static/fonts/IstokWeb-Bold.ttf");
}

:root {
    --blue: #264B80;
    --light-blue: #CCE1FF;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

body {
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--blue);
    gap: 30px;
    flex-shrink: 2;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 3px var(--blue);
    width: 65%;
    height: fit-content;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .5s;
    animation: forwards 1s right-fade;
}

#logo img {
    height: 35px;
}

#logo p {
    font-family: IstokWeb-Bold, sans-serif;
    color: var(--blue);
    font-size: 30px;
}

.button {
    background-color: var(--blue);
    color: white;
    border-radius: 32px;
    border: solid 3px var(--blue);
    padding: 10px 35px;
    text-decoration: none;
    font-family: IstokWeb-Bold, sans-serif;
    font-size: 20px;
    transition: .5s;
    animation: forwards 1s left-fade;
}

.button:hover {
    background-color: var(--light-blue);
    color: var(--blue);
}

h1 {
    font-family: IstokWeb-Bold, sans-serif;
    color: var(--blue);
    font-size: 35px;
}

h3 {
    font-family: IstokWeb, sans-serif;
    color: var(--blue);
    font-size: 20px;
}

label {
    font-family: IstokWeb, sans-serif;
    color: var(--blue);
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-line {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    background-color: var(--light-blue);
    color: var(--blue);
    border-radius: 16px;
    border: solid 2px var(--blue);
    padding: 10px;
    width: 40vw;
}

input[type="submit"] {
    background-color: var(--blue);
    color: white;
    border-radius: 32px;
    width: 150px;
    font-size: 16px;
    transition: .5s;
    border: solid 3px var(--blue);
}

input[type="submit"]:hover {
    background-color: var(--light-blue);
    color: var(--blue);
}

.square {
    border: solid 4px var(--blue);
    border-radius: 16px;
    padding: 20px;
    background-color: var(--light-blue);
}

#panel, #update-panel {
    position: absolute;
    z-index: 5;
    top: -150%;
    left: -150%;
    transform: translate(-50%, -50%);
}

#warning {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

footer {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: IstokWeb, sans-serif;
    box-sizing: border-box;
    border-top: solid 3px var(--blue);
}

main {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
}

.task-square {
    border: solid 2px var(--blue);
    padding: 20px;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    color: var(--blue);
    font-family: IstokWeb, serif;
    transition: .5s;
    box-sizing: border-box;
}

.task-square:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--light-blue) !important;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.section-title {
    width: 100%;
    border-bottom: solid 3px var(--blue);
    padding: 5px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

#current-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin-bottom: 20px;
    min-height: 30vh;
    gap: 30px;
}

#current-task-section {
    border: solid 2px var(--blue);
    background-color: var(--light-blue);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
}

#current-task-section p {
    font-family: IstokWeb, serif;
    font-size: 20px;
}

@keyframes right-fade {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes left-fade {
    0% {
        opacity: 0;
        transform: translate(50%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}