<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base - SimpleTask
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="static/css/base.css">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
</head>
<body>
    <header>
        <div id="logo">
            <img src="static/images/logo.png" alt="Logo">
            <p>SimpleTask</p>
        </div>
        {% block menu %}
        {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            <p>Developed by Mardson Diego</p>
        {% endblock %}
    </footer>
</body>
</html>