{% extends "base.html" %}
{% block title %}
    Login - SimpleTask
{% endblock %}
{% block menu %}
    <a class="button" href="/signup">Signup</a>
{% endblock %}
{% block content %}
    <div class="square">
        <h1>Welcome back!</h1>

        <form method="POST" action="/login">
            <div class="form-line">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>

            <div class="form-line">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            {% if warning %}
                <div class="form-line" style="justify-content: flex-start">
                    <img src="static/images/warning.png" alt="Warning: " style="height: 24px; width: 24px">
                    <p style="font-family: IstokWeb, sans-serif; font-size: 17px">{{ warning }}!</p>
                </div>
            {% endif %}

            <div class="form-line" style="justify-content: flex-end; align-items: center">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock %}